<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726371805398-uc344b6ah2t6iv6do4j29d1md77kecat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726371805398-uc344b6ah2t6iv6do4j29d1md77kecat</string>
	<key>API_KEY</key>
	<string>AIzaSyBqNyFS5i3j-CBshEvU13t7uNzRUYeVsxA</string>
	<key>GCM_SENDER_ID</key>
	<string>726371805398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsubasa.chatSample.dev</string>
	<key>PROJECT_ID</key>
	<string>caht-sample-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>caht-sample-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726371805398:ios:d11037dc9a60320dc94177</string>
</dict>
</plist>